<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <div class="main-content">

            <div class="content-box-2">

                <h1>ADMIN ACTIVITY UPDATE PAGE</h1>
                <form action="/admin/admin-activities" method="put">

                    <div>
                        <label for="type">Select activity type:</label>
                        <select name="type" id="type">
                            <option value="listening">listening</option>
                            <option value="math">math</option>
                            <option value="reading">reading</option>
                            <option value="speaking">speaking</option>
                            <option value="writing">writing</option>
                            <option selected value="<%=allActivities.type %>"><%=allActivities.type %></option>
                        </select>
                    </div>

                    <div>
                        <label for="title">Title: </label>
                        <input type="text" name="title" id="title" minlength="4" value="<%=allActivities.title %>" required />
                    </div>

                    <div>
                        <label for="link">Link: </label>
                        <input type="text" name="link" value="<%=allActivities.link %>" required />
                    </div>

                    <input type="submit" class="form-button" value="Submit">

                </form>

            </div>

        </div>

        <%- include("../partials/footer.ejs") %>