<%- include("../partials/head.ejs") %>

    <%- include("../partials/nav.ejs") %>

        <!-- TEMPLATE FOR EACH ADMIN ACTIVITY PAGE -->
        <div class="main-content">

            <div class="form-container">

                <h1>ADMIN PAGE</h1>

                <button type="button" class="form-button-add" value="Add"><a href="/admin/activity-create">ADD NEW
                        ACTIVITY</a></button>

                <p>
                <table id="activity-list">
                    <tr>
                        <th>ACTIVITY NAME</th>
                        <th>EDIT</th>
                        <th>DELETE</th>
                    </tr>

                    <% allActivities.forEach( activity=> { %>
                        <tr>
                            <td>
                                <%=activity.title %>
                            </td>
                            <td>
                                <button class="form-button-edit">
                                    <a href="./<%= activity._id %>/activity-update">EDIT
                                    </a>
                                </button>
                            </td>
                            <td>
                                <form action="/activities/<%= activity._id %>?_method=DELETE" method="POST"
                                    enctype="application/x-www-form-urlencoded" class="inline">
                                    <button class="form-button-delete" type="submit">DELETE</button>
                                </form>
                            </td>

                        </tr>
                        <% }); %>

                            <!-- USER LOGOUT -->
                            <!-- <a href="/logout" value="/logout"></a> -->

                </table>
                </p>

            </div>
        </div>
        <!-- NOT SURE THIS PAGE IS NEEDED -->


        <%- include("../partials/footer.ejs") %>